@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Message: @Configuration["DemoApp:Greeting"]</h1>

<feature name="demofeature">
    <h1><img src="az20466px.png" width="66" /><-- Fancy new logo!</h1>
</feature>
