@page
@model IndexModel
@{
    ViewData["Title"] = "Production";
}

<div class="text-center">
    <h3>Originally, this was the @(Environment.GetEnvironmentVariable("SLOT_NAME")) slot.</h3>
    <a href="https://winapp-ivey.azurewebsites.net/?x-ms-routing-name=staging">Route traffic to the staging slot</a>
</div>
