@page
@model IndexModel
@{
    ViewData["Title"] = "Slots demo";
}

<div class="text-center">
    <h3>Original slot: @(Environment.GetEnvironmentVariable("ORIGINAL_SLOT")).</h3>
    <h3>Current slot: @(Environment.GetEnvironmentVariable("CURRENT_SLOT")).</h3>
</div>
