@page
@model IndexModel
@{
    ViewData["Title"] = "Slots demo";
}

<div class="text-center">
    <h3>Original slot: @(Environment.GetEnvironmentVariable("ORIGINAL_SLOT")).</h3>
    <h3>Current slot: @(Environment.GetEnvironmentVariable("CURRENT_SLOT")).</h3>
    @* <a href="https://iveyslotsapp.azurewebsites.net/?x-ms-routing-name=production">Route traffic to the staging slot</a> *@
</div>
