@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>@(Environment.GetEnvironmentVariable("SLOT_NAME"))</h3>
    <a href="https://winapp-pivey.azurewebsites.net/?x-ms-routing-name=staging">Route traffic to the staging slot</a>
</div>
